<%- include("partials/header", {title: "Feedback"}) %>

<div class="container0">
  <div style="text-align: center; margin: 17px">
    <strong
      style="
        color: azure;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #645e5e;
      "
      ><h1>You Are Our First Priority</h1></strong
    >
  </div>
  <div>
    <marquee style="color: #ce1919"
      >We will reach out to you within 24 hours. Cards will automatically
      deleted within 24 hours</marquee
    >
  </div>
  <div class="container1">
    <%feedback.forEach((feedbackItem) => { %>
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card" style="width: 18rem">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Reason: </strong><%= feedbackItem.reason %>
          </li>
          <li class="list-group-item">
            <strong>Name: </strong><%= feedbackItem.name %>
          </li>
          <li class="list-group-item">
            <strong>Email: </strong><%= feedbackItem.email %>
          </li>
          <li class="list-group-item">
            <strong>Feedback: </strong><%= feedbackItem.feedback %>
          </li>
        </ul>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include("partials/footer") %>
